$background-color: ghostwhite;
body {
  margin: 0;
  height: 100vh;
  font-family: sans-serif;
  font-size: 2rem;
  background: $background-color;
  display: flex;
  justify-content: center;
  align-items: center;
}
.item {
  padding: 3rem;
  background: #fff;
  border-radius: 4px;
  box-shadow: 2px 2px 10px rgba(70, 70, 70, .4);
}
